@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

/* shared style */

.btn-container{
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 4px;
    /* border: 2px solid rgb(224, 40, 8); */
    border-radius: 10000px;
    color:rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1rem;
    background-image: linear-gradient(90deg,#f7e93f,#FB09B4,#9100F8);
    cursor: pointer;
}

/* navbar style */
nav{
    max-width: 100rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #1A0B2E;
    align-items: center;
    padding:1rem;
}

.nav-container1{
    color: rgba(255, 255, 255, 1);
}

.nav-container1 .spanned{
    /* color: linear-gradient(#9100F8,#FB09B4,#F7E93F ); */
    background-image: linear-gradient(720deg,#f7e93f,#FB09B4,#9100F8);
    color: transparent;
    background-clip: text;
}
.nav-container2{
    display: flex;
    gap: 2rem;
    align-items: center;
    color:rgba(255, 255, 255, 1);
    cursor: pointer;
}

/* banner style */
.banner-container{
   background: url(./assets/hero-bg.png);
   height: 47.5rem;
   max-width: 100rem;
   position: relative;
}

.banner-img-container{
    /* margin-bottom: 40px; */
}

.banner-img{
    position: absolute;
    left: 41%;
    top: 15%;
}

.banner-img2{
    position: absolute;
    left: 49%;
    top: 25%;
}

.btn2{
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    position: absolute;
    left: 59%;
    top: 18%;
}

.banner-about{
    position: absolute;
    left: 42%;
    top: 70%;
    
}

.banner-about h2{
    font-weight: 800;
    font-size: 3.75rem;
    color:rgba(255, 255, 255, 1);
    letter-spacing: 0%;
    margin-bottom: 0.5rem;
    position: relative;
    left: 7%;
}

.banner-about p{
    position: relative;
    right: 11%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.655);
    margin-bottom: 1.5rem;
}



.btn3{
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 4px;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    /* font-weight: 600; */
    font-size: 1rem;
    /* background-image: linear-gradient(90deg,#f7e93f,#FB09B4,#9100F8); */
    background-color: transparent;
    cursor: pointer;
}

/* About section style */
.about-section ,
.host-content-container{
    background-color: #1A0B2E;
    max-width: 100%;
    padding: 3.125rem 12rem 7.5rem;
}
.about-container{
    margin-top: 6rem;
    max-width: 75rem;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 0 12rem;
    /* margin-bottom: 10rem; */
}

.section-header{
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-container p{
    color: rgba(255, 255, 255, 0.655);
    line-height: 1.25rem;
    font-size: 1rem;
    margin-bottom: 5rem;
}

.stars{

    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}

.contribution h2{
    color: #00FF88;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contribution p{
    color:rgba(255, 255, 255, 0.652);
    line-height: 1.25rem;
    font-size: 1rem;
}
/* Features section style */
.feature-container{
    background-color: #230E3D;
    max-width: 100%;
    padding: 3.125rem 12rem 7.5rem;
}

.feature-header{
    justify-items: center;
    max-width: 75rem;
}

.feature-box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1.875rem;
    /* border: 2px solid red; */
    
}

.feature-box{
    /* border: 2px solid blue; */
    padding: 2.5rem;
    border-radius: 2.5rem;
    background-color: rgba(53, 17, 101, 0.4);
}

#box-1{
    grid-row: span 2;
    align-content: center;
}

#box-2{
    grid-column: span 2;
}

#box-3{
    grid-column: span 2;
}

#box-4{
    grid-column: span 2;
}

.feature-box h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1.5rem;
}

.feature-box p{
    color: rgba(255, 255, 255, 0.655);
}

/* Featured Episodes and Host section style */
.featured-episodes{
    max-width: 75rem;
}

.featured-episodes{
    justify-items: center;
}

.content-container{
    
}


/* footer style */
footer{
    background: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position:top bottom , left right ;
    max-width: 100rem;
    height: 26rem;
}

.footer-container{
    max-width: 85rem;
    padding: 8.25rem;
    justify-items: center;
}

.footer-container h1{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.footer-container span{
    background-image: linear-gradient(720deg,#f7e93f,#FB09B4,#9100F8);
    color: transparent;
    background-clip: text;
}

.social-icon-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.social-icon{
  position: relative;
  align-items: center;
  left: 45%;
}

#duck{
    color: #FFFFFF;
}

.footer-container p{
    color: #fafafa8d;
    line-height: 1.5rem;
}