@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

/* shared style */

.btn-container{
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 4px;
    /* border: 2px solid rgb(224, 40, 8); */
    border-radius: 10000px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    background-image: linear-gradient(90deg,#f7e93f,#FB09B4,#9100F8);
    cursor: pointer;
}

/* navbar style */
nav{
    max-width: 100rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #1A0B2E;
    align-items: center;
    padding:1rem;
}

.nav-container1{
    color: #FFFFFF;
}

.nav-container2{
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}

/* banner style */
.banner-container{
   background: url(./assets/hero-bg.png);
   height: 47.5rem;
   max-width: 100rem;
   position: relative;
}

.banner-img-container{
    /* margin-bottom: 40px; */
}

.banner-img{
    position: absolute;
    left: 41%;
    top: 15%;
}

.banner-img2{
    position: absolute;
    left: 49%;
    top: 25%;
}

.btn2{
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
    position: absolute;
    left: 59%;
    top: 18%;
}

.banner-about{
    position: absolute;
    left: 42%;
    top: 70%;
    
}

.banner-about h2{
    font-weight: 800;
    font-size: 3.75rem;
    color: #FFFFFF;
    letter-spacing: 0%;
    margin-bottom: 0.5rem;
    position: relative;
    left: 7%;
}

.banner-about p{
    position: relative;
    right: 11%;
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}



.btn3{
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 4px;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    /* font-weight: 600; */
    font-size: 1rem;
    /* background-image: linear-gradient(90deg,#f7e93f,#FB09B4,#9100F8); */
    background-color: transparent;
    cursor: pointer;
}